/* note font chữ */
@font-face {
    font-family: "alger";
    src: url(/font/ALGER.TTF);
}

@font-face {
    font-family: "cook";
    src: url(/font/CONSOLAZ.TTF);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/img/background1.jpg');
    background-attachment: fixed;
    width: 100%;
}

/* Header */
.containerr{
    max-width: 960px;
    margin: 0 auto;
}
.header{
    background-color:chocolate;
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 0;
}
h3{
    font-family: alger;
    color: bisque;
    margin-left: -90px;
    margin-right: 50px;
    margin-top: 16px;
}
#logo img{  
    max-width: 130px;
    height: auto;
    margin-left: -100%;
}
.main-menu{
    display: flex;
    list-style: none;
    margin-top: 35px;
    padding: 0;
    margin-left: 10px;
    font-size: 20px;
}
.main-menu li{
    position: relative;
}
.main-menu li a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 18px 30px;
    font-weight: 600;
    color: #fff;
}
/* Navigation */
.main-menu ul.sub-menu{
    position: absolute;
    background-color:rgb(173, 85, 23) ;
    margin-top: 10px;
    list-style: none;
    width:  150px;
    line-height: 20px;
    display: none;
    border: 1px solid #fff;
}
.main-menu li:hover ul.sub-menu{
    display: block;
    z-index: 1;
}
.main-menu ul.sub-menu a{
    padding: 7px 10px;
    border-bottom: 1px solid #fff;
}
.main-menu ul.sub-menu li:hover a{
    background-color:rgb(227, 151, 97);
}
.main-menu ul.sub-menu li:last-child a {
    border: none;
}
/* End navigation */
.main-menu>li>a{
    position: relative;
}
.main-menu>li>a::before{
    content: "";
    height: 2px;
    width: 0;
    background-color:black;
    position: absolute;
    bottom: 1px;
    left: 0;
}
.main-menu>li:hover>a::before{
    width: 100%;
}
.search-container {
    margin-bottom: 8px;
    margin-left: -10%;
}
.search-container form {
    position: relative;
    width: 300px;
}
.search-container input[type=text] {
    width: 290px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 32px;
    box-sizing: border-box;
}
.search-container button {
    position: absolute;
    right: 0;
    top: 0 ;
    margin: 10px 25px;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
}

.login_header{
    max-width: 50px;
    width: 100%;
    min-height: 50px;
    display: grid;
    place-items: center;
    border-radius: 16px;
    padding: 9px;
    margin-right:5%;
    margin-left: 40px;
}

/* End header */

/* Slider */
.slider{
    width:100%;
    max-width: 100vw;
    height: 500px;
    margin: auto auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1512px;
    max-width: 100vw;
    height: 500px;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    color:white;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
/* End slider */

/* Main */
.content {
    width: 960px;
    margin: 50px 50px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px ;
    grid-template-rows: 150px 150px 150px 150px;
    grid-gap: 150px;
}

.item img {
    width: 240.5px;
    height: 230px;
    border-radius: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.item1 img {
    width: 540px;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: span 2;
}

.item2 img {
    width: 540px;
}
/* End main */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .footer {
    background-color:#51badd;
    color:black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .contact-section,
  .social-media-section {
    flex: 1;
    margin: 0 258px;
  }
  
  .social-media-links {
    padding: 0;
  }
  
  .social-media-links li {
    margin-bottom: 5px;
  }
  
  .social-media-links li a {
    color:black;
  }

  .contact-section h1 {
    margin-bottom: 20px;
  }